<ul class="detail_categroy">
    <li>
        <div class="categroy_dropbx">
            <div class="resultbx">
                대카테고리 타이틀
            </div>
            <div class="sel_lst">
                <div class="sel_scrall">
                    <div class="sel_scrallin">
                        <ul>
                            <li><a href="#">111</a></li>
                            <li><a href="#">222</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="categroy_dropbx">
            <div class="resultbx">
                소카테고리 타이틀
            </div>
            <div class="sel_lst">
                <div class="sel_scrall">
                    <div class="sel_scrallin">
                        <ul>
                            <li><a href="#">111</a></li>
                            <li><a href="#">222</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>