<ul class="detail_categroy">
    <li *ngIf="cate1">
        <div class="categroy_dropbx">
            <div class="resultbx">
                {{ cate1.category_name }}
            </div>
            <div class="sel_lst">
                <div class="sel_scrall">
                    <div class="sel_scrallin">
                        <ul>
                            <li *ngFor="let menu of cate1.sub">
                                <a href="#">{{ menu.category_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li *ngIf="cate2">
        <div class="categroy_dropbx">
            <div class="resultbx">
                {{ cate2.category_name }}
            </div>
            <div class="sel_lst">
                <div class="sel_scrall">
                    <div class="sel_scrallin">
                        <ul>
                            <li *ngFor="let menu of cate2.sub">
                                <a href="#">{{ menu.category_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>