<div class="detail_info_area">
    <div class="accodionbx">
        <div class="accodion_content">
            <div *ngIf="product">
                <p>
                    <em class="tit">상품코드</em>
                    <em class="tit">{{ product.itemNo }}</em>
                </p>
                <p>
                    <em class="tit">{{ product.name }}</em>
                </p>
                <p>
                    <img src="{{ product.imageUrl }}" alt="">
                </p>
            </div>
        </div>
    </div>
</div>